* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

body {
    font-family: monospace;
}

h1 {
    color: crimson;
    text-align: center;
    margin: 25px;
}

h2 {
    margin-top: 25px;
}

.contenerdor-main {
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 970px;
    height: 610px;
    gap: 300px;
    border-radius: 50%;
    margin: 0 auto;
}

.contenedor-sub {
    margin-left: -115px;
    margin-top: -115px;
}

.caja {
    padding: 20px;
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.nivel1 {
    background-color: skyblue;
    /*padding: calc(20px / 2);*/
}

.nivel2 {
    background-color: rgb(103, 189, 223);
}

.nivel3 {
    background-color: rgb(66, 173, 216);
}

.nivel4 {
    background-color: rgb(4, 156, 216);
}

.nivel5 {
    background-color: rgb(0, 121, 168);
}

.nivel6 {
    background-color: rgb(0, 78, 109);
}